# Project exclude paths
/out/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml
/.idea/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
